selector{
    property: value ;
}

:root{
    /* --primary-color:#4acf50; */
    --primary-color: rgb(252, 184, 0 );
    --secdoundry-color:#fff;
    --text-color:#333;
    --background-color:#f4f4f4;

}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--background-color);
    color: var(--text-color);
 

}

header{
    background-color: var(--primary-color);
    
}

.header-top{
    display: flex;
    flex-flow: row nowrap;
    border-bottom: none;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--primary-color);
        
    
}

.ps-logo img{
    width: 300px;
    
}


.header-left{
    align-items: center;
    display: flex;
    max-width: 300px;
}
        
nav ul{
    display: flex;
    
}

nav ul li{

}

nav ul li a{

}

main{
    width: 70vw;
    margin: auto;
}

.about img{
    height: 2rem;
}

.container{
    display: grid; 
    grid-template-columns: 10rem 10rem 10rem;
}

footer{
    background-color: var(--primary-color);
    margin: auto;
    padding: 1rem;
}